/* ImageAnimation.css */

.image-animation {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  img {
    width: 240px;
    height: 240px;
    z-index: 1000;
  }
  button {
    background-color: white;
    z-index: 1000;
  }
}

.animated-image {
  position: absolute;
  width: 100px; /* Set your desired image width */
  height: 100px; /* Set your desired image height */
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  animation: fade-in 20s ease-in forwards, fade-out 4s 1s ease-out forwards;
}

.image-0 {
  animation-name: move-from-top;
}

.image-1 {
  animation-name: move-from-right;
}

.image-2 {
  animation-name: move-from-bottom;
}

.image-all {
  animation-name: move-from-away;
}

@keyframes move-from-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-from-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.9;
  }
}

@keyframes move-from-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.9;
  }
}

@keyframes move-from-away {
  0% {
    transform: translateY(0 translateX(0));
    opacity: 0.4;
  }
  50% {
    transform: translateY(-1000px translateX(1000px));
    opacity: 0.2;
  }
  80% {
    transform: translateY(-2000px) translateX(2000px);
    opacity: 0;
  }
}
