.intro-wrap {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 54px;
  .basic-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    .social {
      display: flex;
      justify-content: space-between;
      width: 200px;
      margin-top: 24px;
      svg {
        font-size: 24px;
      }
      svg:hover {
        cursor: pointer;
      }
    }
    h2 {
      color: white;
      font-size: 54px;
      margin: 0;
      margin-bottom: 12px;
      text-align: left;
    }
    p {
      color: #9f55ff;
      margin: 0;
    }
  }
  .coverimage {
    .cover-main-image {
      width: 760px;
      height: 760px;
    }
    img {
      transform: scaleX(-1);
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  z-index: 0;
}

.floating-image1 {
  width: 160px !important; /* Adjust the size as needed */
  height: 250px;
  margin: 10px; /* Adjust the margin as needed */
  position: absolute;
  right: 50%;
  top: 25%;
  animation: floating 4s infinite ease-in-out; /* Adjust the duration as needed */
}
.floating-image2 {
  width: 120px !important; /* Adjust the size as needed */
  margin: 10px; /* Adjust the margin as needed */
  position: absolute;
  right: 10%;
  top: 35%;
  animation: floating 6s infinite ease-in-out; /* Adjust the duration as needed */
}
.floating-image3 {
  width: 50px !important; /* Adjust the size as needed */
  margin: 10px; /* Adjust the margin as needed */
  position: absolute;
  right: 20%;
  top: 35%;
  animation: floating 6s infinite ease-in-out; /* Adjust the duration as needed */
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(
      0,
      -20px
    ); /* Adjust the vertical translation as needed */
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1); /* Initial scale value */
  }
  100% {
    transform: scale(1.2); /* Adjust the scale value for zooming */
  }
}

@media (max-width: 768px) {
  .intro-wrap {
    padding: 0 32px;
    .basic-details {
      width: unset;
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 16px;
      }
      span {
        font-size: 16px !important;
      }
    }
    .coverimage {
      display: none;
    }
  }
}
