.App {
  text-align: center;
  /*overflow-x: hidden;*/
  min-height: 100vh;
}

.fly-to-top {
  animation: flyToTop 5s ease-in-out forwards;
}

@font-face {
  font-family: "CustomHarryFont";
  src: url("./Assets/Fonts/HarryPotter2.ttf") format("truetype");
  font-display: swap;
}

.custom-font-harrypotter {
  font-family: "CustomHarryFont", sans-serif !important;
  font-size: 22px;
}

@keyframes flyToTop {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-50vh) rotate(360deg); /* Move elements to the top and make a full rotation */
  }
}
/* Flashlight.css */

.flashlight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.blur-screen {
  filter: blur(5px); /* Adjust the blur amount as needed */
  transition: filter 6s ease; /* You can adjust the duration and timing function */
}

.flashlight {
  width: 200vw; /* Adjust the size as needed */
  height: 400vh; /* Adjust the size as needed */
  position: fixed;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  z-index: 900;
  right: 0;
  top: 0;
}

.flashlight-beam {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    #0074e4 0%,
    rgba(173, 216, 230, 0.8) 100%
  );
  border-radius: 50%;
  transition: width 6s, height 6s;
  z-index: 1000;
}
.beam1 {
  transition: width 5s, height 5s;
  transition-delay: 5s;
}
.beam2 {
  transition: width 6s, height 6s;
  transition-delay: 6s;
}
.beam3 {
  transition: width 7s, height 7s;
  transition-delay: 7s;
}
.beam4 {
  transition: width 3s, height 3s;
  transition-delay: 9s;
}

.flashlight.on .flashlight-beam {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.flashlight.on .flashlight-beam1 {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.harrytheme {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .flashlight {
    width: 736vw;
    height: 205vh;
    right: -320px;
  }
}

#Rain {
  z-index: 1002;
  width: 100%;
  position: fixed;
}
.drop {
  z-index: 1002;
  background: rgba(135, 136, 136, 0.373) !important;
}
