.background-container {
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;
  position: relative;
  background: linear-gradient(to bottom, #b9dfff, #4ba0db, #004390);
  overflow: hidden;
}
.front,
.middle,
.back {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60em;
  width: 100%;
}
.back {
  z-index: 1;
}

.sun-rays {
  position: absolute;
  bottom: 42em;
  right: 2em;
  height: 15em;
  width: 15em;
  z-index: -5;
  background: radial-gradient(
    rgba(255, 237, 175, 0.8) 50%,
    rgba(255, 237, 175, 0.2) 70%
  );
  border-radius: 50%;
  box-shadow: 0 0 0.5em rgba(255, 237, 175, 1);
  -webkit-animation: rays 10s infinite;
  -moz-animation: rays 10s infinite;
  animation: rays 10s infinite;
}
.sun {
  position: absolute;
  bottom: 44.5em;
  right: 4.5em;
  height: 10em;
  width: 10em;
  z-index: -5;
  background: rgba(255, 237, 175, 1);
  border-radius: 50%;
  box-shadow: 0 0 1em rgba(255, 237, 175, 0.5), inset 0 0 0.5em #ffffad;
}

/*Sun Animation*/
@-webkit-keyframes rays {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

@-moz-keyframes rays {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes rays {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
